<div class="card-container" *ngIf="uuid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ tenantName }}</mat-card-title>
      <mat-card-subtitle>{{ uuid }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-mini-fab class="floating-button" (click)="addTenantUser()">
        <mat-icon>add</mat-icon>
      </button>
      <app-data-list [endpoint]="endpoint" [fields]="fields" [filters]="filters" [headers]="headers"
        (clickRow)="editUser($event)">
      </app-data-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn" (click)="confirmPurge()">Delete Team</button>
    </mat-card-actions>
  </mat-card>
</div>