<div class="card-container" *ngIf="uuid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{tenantName || 'Tenant'}}</mat-card-title>
      <mat-card-subtitle>{{ uuid }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Created By Actor"
              [formControl]="createdByActor"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Created By ID"
              [formControl]="createdById"
            />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn" (click)="confirmPurge()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-mini-fab class="floating-button" (click)="addTenantUser()">
  <mat-icon>add</mat-icon>
</button>
<app-data-list
  [endpoint]="endpoint"
  [fields]="fields"
  [filters]="filters"
  (clickRow)="editUser($event)"
>
</app-data-list>
