<h2 mat-dialog-title>Edit User</h2>
<p>Update Roles to continue</p>
<form fxLayout="column" fxLayoutGap="1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" [formControl]="email">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select placeholder="Set Roles" [formControl]="selectedRoles" #roleSelect multiple>
      <mat-option *ngFor="let role of roles;let i = index" [value]="role.roleName">
        {{role.roleName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  <button mat-button color="warn" (click)="delete()">Delete</button>
  <button mat-button (click)="update()">Update</button>
</mat-dialog-actions>
