table {
  width: 100%;
}

.table-container {
  max-height: calc(100vh - 230px);
  max-width: 100%;
  overflow: auto;
}

.mat-row, .mat-header-row {
  min-width: 2800px;
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 1em;
}

th, td {
  white-space: nowrap;
}

.mat-column-ID {
  width: 10% !important;
}
