<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [disableClose]="!(isHandset$ | async)"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Apps</mat-toolbar>
    <ng-container *ngIf="loggedIn">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Dashboard</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/home">Home</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Accounting</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/accounting-entity">Select Entity</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-list-item routerLink="/journal-entry">Journal Entry</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <mat-accordion *ngIf="isAdmin">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>Admin</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/tenants">Tenants</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex-stretch"></div>
      <mat-icon class="mr-8">brightness_5</mat-icon>
      <mat-slide-toggle
        [formControl]="toggleControl"
        (change)="setTheme($event.checked)"
        class="mr-8"
      >
      </mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
      <button mat-button [matMenuTriggerFor]="tenantMenu">
        <mat-icon>group</mat-icon>
      </button>
      <mat-menu #tenantMenu="matMenu">
        <a
          mat-menu-item
          *ngIf="loggedIn && tenantName && tenantId"
          [routerLink]="['team', tenantId]"
          >{{ tenantName }}</a
        >
        <button *ngIf="loggedIn" mat-menu-item (click)="switchTeam()">
          Switch Team
        </button>
        <button *ngIf="loggedIn" mat-menu-item (click)="chooseAccount()">
          Choose Account
        </button>
        <a mat-menu-item *ngIf="!loggedIn" (click)="logIn()">Login</a>
        <a mat-menu-item *ngIf="loggedIn" (click)="logOut()">Logout</a>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
