.fab-menu {
  position: absolute;
  right: 1em;
  z-index: 1001;
}

.floating-button {
  position: absolute;
  right: 1em;
  z-index: 1000;
}

.add-comment {
  opacity: 0.4;
}

.table-container {
  max-height: calc(100vh - 230px);
  max-width: 100%;
  overflow: auto;
}

.mat-row,
.mat-header-row {
  min-width: 2800px;
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 1em;
}

th,
td {
  white-space: nowrap;
}
