<div cdkTrapFocus>
  <h2 mat-dialog-title>Add Accounting Entity</h2>
  <form [formGroup]="form" (submit)="close(form)" (keyup.enter)="close(form)">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          autocomplete="name"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Abbreviation"
          formControlName="abbr"
          autocomplete="abbr"
          required
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Country"
          formControlName="country"
          [matAutocomplete]="country"
          required
        />
        <mat-autocomplete autoActiveFirstOption #country="matAutocomplete">
          <mat-option *ngFor="let option of countries" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Base Currency"
          formControlName="baseCurrency"
          [matAutocomplete]="autoCurrency"
          required
        />
        <mat-autocomplete #autoCurrency="matAutocomplete">
          <mat-option
            *ngFor="let option of currencies | async"
            [value]="option.code"
          >
            {{ option.code }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Entity Type"
          formControlName="entityType"
          [matAutocomplete]="entityType"
          required
        />
        <mat-autocomplete autoActiveFirstOption #entityType="matAutocomplete">
          <mat-option *ngFor="let option of entityTypes" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Tax ID"
          formControlName="taxId"
          autocomplete="tax-id"
          required
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Date of Birth"
          formControlName="dateOfBirth"
          autocomplete="bday-day"
          [matDatepicker]="dateOfBirthPicker"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateOfBirthPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirthPicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
    <button mat-button [disabled]="!form.valid" (click)="close(form)">
      Add
    </button>
  </mat-dialog-actions>
</div>
