<form [formGroup]="setupForm">
  <h2 mat-dialog-title>Setup</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>Tenant</mat-label>
      <input
        required
        type="text"
        placeholder="Tenant"
        aria-label="Tenant"
        matInput
        formControlName="tenantControl"
        [matAutocomplete]="autoTenant"
        (focusout)="validateInput(f.tenantControl, tenants)"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoTenant="matAutocomplete"
        [displayWith]="displayTenantName"
        (optionSelected)="selectTenant()"
      >
        <mat-option *ngFor="let tenant of tenants | async" [value]="tenant">
          {{ tenant.tenantName }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="f.tenantControl.hasError('falseValse')">
        You should select a value from dropdown only.
        <strong>'{{setupForm.get('tenantControl').value}}'</strong> is not
        allowed.
      </mat-error>
      <mat-error *ngIf="f.tenantControl.hasError('required')">
        Tenant is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="showEntity">
      <mat-label>Accounting Entity</mat-label>
      <input
        type="text"
        placeholder="Accounting Entity"
        aria-label="Accounting Entity"
        matInput
        formControlName="entityControl"
        [matAutocomplete]="autoAccountingEntity"
      />
      <mat-icon (click)="openAddAccountingEntityDialog()" matSuffix
        >add</mat-icon
      >
      <mat-autocomplete
        #autoAccountingEntity="matAutocomplete"
        [displayWith]="displayEntityName"
      >
        <mat-option
          *ngFor="let option of (accountingEntities | async)"
          [value]="option"
        >
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="accent"
      [disabled]="setupForm.invalid"
      (click)="submitForm()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
