<h2 mat-dialog-title>{{ title }}</h2>
<p>{{ message }}</p>
<form *ngIf="confirmationInput">
  <mat-form-field class="full-width">
    <input matInput name="confirmation-input" type="text" [formControl]="confirmationControl" placeholder="{{ confirmationInput }}">
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">{{ cancelText }}</button>
  <button mat-button [disabled]="confirmationInput && !confirmationControl.valid" (click)="add()">{{ confirmText }}</button>
</mat-dialog-actions>