<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Parent Account Number</mat-label>
          <input
            type="text"
            placeholder="Parent Account Number"
            aria-label="Parent Account Number"
            matInput
            [formControl]="parent"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoParent"
          />
          <mat-autocomplete #autoParent="matAutocomplete">
            <mat-option
              *ngFor="let option of (parentNumbers | async)"
              [value]="option.accountNumber"
            >
              {{option.accountNumber}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Account (En)</mat-label>
          <input
            type="text"
            placeholder="Account (En)"
            aria-label="Account"
            matInput
            [formControl]="account"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoAccount"
          />
          <mat-autocomplete #autoAccount="matAutocomplete">
            <mat-option
              *ngFor="let option of (accountNames | async)"
              [value]="option.accountNameEn"
            >
              {{option.accountNameEn}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Account Number</mat-label>
          <input
            type="text"
            placeholder="Account Number"
            aria-label="Number"
            matInput
            [formControl]="number"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoNumber"
          />
          <mat-autocomplete #autoNumber="matAutocomplete">
            <mat-option
              *ngFor="let option of (accountNumbers | async)"
              [value]="option.accountNumber"
            >
              {{option.accountNumber}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Currency</mat-label>
          <input
            type="text"
            placeholder="Currency"
            aria-label="Currency"
            matInput
            [formControl]="currency"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoCurrency"
          />
          <mat-autocomplete #autoCurrency="matAutocomplete">
            <mat-option
              *ngFor="let option of (currencies | async)"
              [value]="option.code"
            >
              {{option.code}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end none">
        <button mat-button (click)="setFilter()">Apply</button>
        <button mat-button (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<app-data-list
  [endpoint]="endpoint"
  [linkCol]="linkCol"
  [linkPrefix]="linkPrefix"
  [fields]="fields"
  [filters]="filters"
>
</app-data-list>
