<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> filter_list </mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>UUID</mat-label>
          <input
            type="text"
            placeholder="UUID"
            aria-label="UUID"
            matInput
            [formControl]="uuid"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoUUID"
          />
          <mat-autocomplete #autoUUID="matAutocomplete">
            <mat-option
              *ngFor="let option of uuids | async"
              [value]="option.uuid"
            >
              {{option.uuid}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Accounting Entity</mat-label>
          <input
            type="text"
            placeholder="Accounting Entity"
            aria-label="Accounting Entity"
            matInput
            [formControl]="accountingEntity"
            (keyup.enter)="setFilter()"
            [matAutocomplete]="autoAccountingEntity"
          />
          <mat-autocomplete #autoAccountingEntity="matAutocomplete">
            <mat-option
              *ngFor="let accountingEntity of accountingEntities | async"
              [value]="accountingEntity.name"
            >
              {{accountingEntity.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
        <mat-form-field class="full-width">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              readonly
              [formControl]="fromDate"
              placeholder="From date"
            />
            <input
              matEndDate
              readonly
              [formControl]="toDate"
              placeholder="To date"
              (dateChange)="setFilter()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end none">
        <button mat-button (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<button
  mat-mini-fab
  class="floating-button"
  [routerLink]="['/journal-entry', 'add']"
  *ngIf="defaultEntity"
>
  <mat-icon>add</mat-icon>
</button>
<app-data-list
  [endpoint]="endpoint"
  [linkCol]="linkCol"
  [linkPrefix]="linkPrefix"
  [fields]="fields"
  [filters]="filters"
>
</app-data-list>
